source/*
logs/*
.venv*
source/
output/
logs/
data/

# Archivos de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.egg-info/
dist/
build/
.eggs/

# Archivos y directorios de Visual Studio Code
.vscode/

# Entornos virtuales (si estás usando virtualenv o venv)
env/
venv/
ENV/
env.bak/
venv.bak/


# Archivos de configuración del sistema
.DS_Store
Thumbs.db

# Archivos de log
logs/*

# Archivos de pruebas de cobertura
.coverage
*.cover

# Archivos de backups
*.bak
*.swp

# Archivos temporales
*.tmp

.env

*.ps1

credentials.json
credentials-service.json
*test*
token.json